html 
	head
	body(style= "background-image: url('.views/eneida.JPG')")
h1= heading
h3= remark
each str in strings
	p(style="display:inline-block ;  width:300px")= str.data 
	a(style="margin-left:50px" href='/edit?id=' + str.id) Edit
	form(method='post' style="display:inline-block;" action='/delete')
		input(type='hidden' name='row_id' value=''+str.id)
		input(style="margin-left:30px" type='submit' value='Delete')



